/*Medium devices, Monitor*/

@media only screen and (max-width:1140px){
    .wrapper{
        width: 960px;
    }

}
/*Medium devices, Decktops*/

@media only screen and (max-width:992px){
    .wrapper{
        width: 750px;
    }
    nav ul li a{
        width: 110px;
        font-size:18px;
    }
    .mini_cont_block{
        width: 90px;
        height: 150px;
        padding: 10px;
        font-size:80%;
    }
    .Title{
        font-size: 100%;
        
    }
    .content span{
        font-size: 100%;
        
    }

}
/*Medium devices, Tablets*/

@media only screen and (max-width:768px){
    .wrapper{
        width: 450px;
    }
    header{
        height: 30px;
    }
    header .logo img{
        width: 40px;
        height: 30px;
    }
    header h4{
        font-size: 80%;
    }
    .register
    .Title{
        font-size: 80%;
        
    }
    .content span{
        font-size: 80%;
        
    }

}
/*Extrs small devices, Phones*/

@media only screen and (max-width:458px){
    .wrapper{
        width: 375px;
    }

}